<h3>Random Villain</h3>
<div *ngIf="randomVillain">
	<!--<h3>Villain Details</h3>
	<p><strong>Objective:</strong>   {{randomVillain.scheme.objective}}</p>
	<p><strong>Scheme: </strong>     {{randomVillain.scheme.specificScheme}}</p>
	<p><strong>Methodology: </strong>{{randomVillain.method.methodType}}</p>
	<p><strong>Technique: </strong>  {{randomVillain.method.specificMethod}}</p>-->

	<div class="table">
		<h1>Random Villain</h1>
		<table class="striped">
			<tr>
				<th>Objective</th>
				<th>Scheme</th>
				<th>Methodology</th>
				<th>Technique</th>
				<th>Weakness</th>
			</tr>
			<tr>
				<td>{{randomVillain.scheme.objective}}</td>
				<td>{{randomVillain.scheme.specificScheme}}</td>
				<td>{{randomVillain.method.methodType}}</td>
				<td>{{randomVillain.method.specificMethod}}</td>
				<td>{{randomVillain.weakness.weakness}}</td>
			</tr>
		</table>
	</div>
</div>
<button class="bttn" (click)="getRandomVillain()">Roll</button>

