<h1>Random NPC Generator</h1>



<div *ngIf="randomNpc">
	<div class="statblock">
		<h2>{{randomNpc.profession.name}}</h2>
		<em>{{randomNpc.race.sizeString}} {{randomNpc.race.name}}, {{randomNpc.alignment.alignment}}</em>
		<br /><strong>Armor Class</strong> {{randomNpc.armorClass}} ({{randomNpc.armor.name}})
		<br /><strong>Hit Points</strong> {{randomNpc.averageHitPoints}} ({{randomNpc.hitPoints}})
		<br /><strong>Speed</strong> {{randomNpc.race.speed}}

		<div class="attribute-table">
			<table>
				<tr><th>STR</th><th>DEX</th><th>CON</th><th>INT</th><th>WIS</th><th>CHA</th></tr>
				<tr><td>{{randomNpc.attributes.strength}}</td><td>{{randomNpc.attributes.dexterity}}</td><td>{{randomNpc.attributes.constitution}}</td><td>{{randomNpc.attributes.intelligence}}</td><td>{{randomNpc.attributes.wisdom}}</td><td>{{randomNpc.attributes.charisma}}</td></tr>
			</table>
		<div>
		
		<br /><strong>Skills </strong> {{randomNpc.skillsString}}
		<br /><strong>Senses </strong> passive Perception: {{randomNpc.getPassivePerception()}}<span *ngIf="randomNpc.race.senses">, {{randomNpc.race.senses}}</span>
		<br /><strong>Languages </strong> {{randomNpc.race.languages}}
		<br /><strong>Challenge </strong> {{randomNpc.challengeRating.label}}

		<h3>Actions</h3>
		<strong>{{randomNpc.meleeWeapon.name}}.</strong> <em>{{randomNpc.meleeWeapon.attackType}} Weapon Attack:</em> +{{randomNpc.toHitBonus['melee'] }} to hit, {{randomNpc.meleeWeapon.getRangeString()}}, one target. <em>Hit:</em> {{randomNpc.averageWeaponDamage['melee']}} ({{randomNpc.meleeWeapon.dieNumber}}d{{randomNpc.meleeWeapon.dieSize}} + {{randomNpc.weaponBonus['melee']}}) {{randomNpc.meleeWeapon.damageType}} damage.
		<br /> 		<strong>{{randomNpc.rangedWeapon.name}}.</strong> <em>{{randomNpc.rangedWeapon.attackType}} Weapon Attack:</em> +{{randomNpc.toHitBonus['ranged'] }} to hit, {{randomNpc.rangedWeapon.getRangeString()}}, one target. <em>Hit:</em> {{randomNpc.averageWeaponDamage['ranged']}} ({{randomNpc.rangedWeapon.dieNumber}}d{{randomNpc.rangedWeapon.dieSize}} + {{randomNpc.weaponBonus['ranged']}}) {{randomNpc.rangedWeapon.damageType}} damage.
	</div>
</div>

<button class="bttn" (click)="getRandomNpc()">Roll</button>
<button class="bttn" (click)="getJSONstring()">JSON</button>
<button class="bttn" (click)="getHomebreweryString()">Homebrewery Markdown</button>

<div *ngIf="rawTextBlock">
	<textarea rows="8" cols="75">{{rawTextBlock}}</textarea>
</div>